.btn-yimn{
    background-color:var(--yinmn-blue)
}
.clickable-text{
    color:var(--mimi-pink);
    text-decoration: none;
}

.car{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url("../../assets/renault-twingo-gordini.jpg");
    height: 100%;
    background-position: center center;
    background-size: cover;
    color:white
  }